body {background-color:plum; color: black;}

/*custom classes start*/
.bold {font-weight:bold; font-size: 24px;}
/*custom classes end*/

/*CSS for gridview start*/
.cssgridview {width:auto; margin:5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; text-align:center; font-family: "Comic Sans MS";}
.cssgridview td {padding:10px; border:solid 1px #c1c1c1; color:black;}
.cssgridview th {padding:10px; color:white; background:grey; border-left:solid 1px #525252; font-family:0.9em;}
.cssgridview .alt {background-color:white;}
/*CSS for gridview end*/

